db-creds.properties
web-creds.properties
dev-creds.properties
src/main/resources/jasper/*.jasper

# maven
target/

# eclipse
.settings/
.classpath
.project
.tern-project

# dbeaver
.dbeaver-data-sources.xml
Scripts/
