<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <context-param>
  <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>primefaces.THEME</param-name>
  <param-value>none</param-value>
 </context-param>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>report</servlet-name>
  <servlet-class>ru.miacn.report.ReportServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>report</servlet-name>
  <url-pattern>/report</url-pattern>
 </servlet-mapping>
 <login-config>
  <auth-method>FORM</auth-method>
  <realm-name>FluorDomain</realm-name>
  <form-login-config>
   <form-login-page>/login.xhtml</form-login-page>
   <form-error-page>/login.xhtml</form-error-page>
  </form-login-config>
 </login-config> 
  <security-role>
  <role-name>USER</role-name>
 </security-role>
 <security-role>
  <role-name>MANAGER</role-name>
 </security-role>
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>all</web-resource-name>
   <url-pattern>/listman.xhtml</url-pattern>
   <url-pattern>/editman.xhtml</url-pattern>
   <url-pattern>/planman.xhtml</url-pattern>
   <url-pattern>/upload.xhtml</url-pattern>
   <url-pattern>/viewman.xhtml</url-pattern>
   <url-pattern>/resources/components/*</url-pattern>
   <http-method>GET</http-method>
   <http-method>POST</http-method>
  </web-resource-collection>
  <!-- ${enable.security.end}
  <auth-constraint>
   <role-name>USER</role-name>
   <role-name>MANAGER</role-name>
  </auth-constraint>
  ${enable.security.start} -->
 </security-constraint>
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>administration</web-resource-name>
   <url-pattern>/administration/*</url-pattern>
   <http-method>GET</http-method>
   <http-method>POST</http-method>
  </web-resource-collection>
  <!-- ${enable.security.end}
  <auth-constraint>
   <role-name>MANAGER</role-name>
  </auth-constraint>
  ${enable.security.start} -->
 </security-constraint>
 <security-constraint>
  <web-resource-collection>
    <web-resource-name>Public</web-resource-name>
    	<description>Matches a few special pages.</description>
    	<url-pattern>/login.xhtml</url-pattern>
    	<url-pattern>/resources/*</url-pattern>
  	</web-resource-collection>
</security-constraint>
 <welcome-file-list>
  <welcome-file>listman.xhtml</welcome-file>
 </welcome-file-list>
</web-app>
